---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Über mich"
	description="Eine kurze Beschreibung zu mir"
	pubDate={new Date('August 16 2025')}
	heroImage={AboutHeroImage}
	enableComments={false}
>
	<p>
		👋 Ich bin Thomas ein Studi aus Dresden. Aktuell bin ich 23 Jahre alt und studiere im 4. Semester an der TU Dresden Bachelor Informatik.
	</p>
	<p>
		In diesem Blog möchte ich meine Erfahrungen und Gedanken zu verschiedenen Themen teilen, die mich interessieren. Dazu gehören unter anderem Webentwicklung, Software-Engineering, Künstliche Intelligenz und vieles mehr.
	</p>
</Layout>
