---
import AboutHeroImage from '../assets/IMG_1590.jpeg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Über mich"
        description="Eine kurze Beschreibung zu mir"
        pubDate={new Date('August 16 2025')}
        heroImage={AboutHeroImage}
        enableComments={false}
>
    <p>
        Hey, ich bin Thomas!
        Aktuell studiere ich im 4. Semester Bachelor Informatik an der <a href="https://tu-dresden.de">TU Dresden</a>.
    </p>
    <p>
        Im kommenden Wintersemester 25/26 mache ich ein Auslandssemester in Taiwan. Dort besuche ich die National Tsing
        Hua University. Diese liegt ca. 1h von der Hauptstadt Taipeh entfernt.
        Nicht nur wegen der Lage zum weltgrößten Chiphersteller <a href="https://tsmc.com">TSMC</a> sondern auch der für
        mich komplett neuen Kultur, bin ich sehr gespannt auf dieses Semester.
        In Hsinchu werde ich wahrscheinlich vorerst auf dem Campus in einem Studentenwohnheim wohnen und versuchen eine
        kleine WG zu finden.
    </p>
    <p>
        In diesem Blog möchte ich versuchen meine Erfahrungen und Gedanken während meines Auslandssemesters zu teilen
        und für die Zukunft festzuhalten. Ich hoffe, dass ich damit vor allem meiner Familie, aber auch Freunden immer
        wieder einen netten Einblick in mein Leben geben kann.
    </p>

    <p>
        Wenn du nichts verpassen möchtest, kannst du hier gerne meinen <a
            href="https://newsletter.nuerk.me">Newsletter</a> abonnieren um eine Berichtigung zu erhalten.
    </p>

    ~Thomas
</Layout>
